
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>
    <title>Document</title>
    
</head>

<body>
   <div class="container" >
       <div class="row"> 
       <div class="col-md-12">
           
             <ul class="list-group" id="item_list">
             
             </ul>
           
            </div>
   </div>
   
   <div class ="row">
       <div class="col-md-12">
           
    <form method= "POST">
     {% csrf_token %}
        <input type="hidden" id="items" name="items">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Name</label>
      <input id="name" name="name" type="text" class="form-control" id="inputEmail4" placeholder="Ankita">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Email</label>
      <input id="Email" name="Email" type="text" class="form-control" id="inputPassword4" placeholder="Ankita@gmail.com">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input id="address" name="address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input id="city" name="city" type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <input id="State" name="State" type="text" class="form-control" id="inputCity">
      </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input id="Zipcode" name="Zipcode" type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Place Order</button>
  
  <div id="paypal-button-container"></div>
    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '88.44'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                    // Successful capture! For demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                    // Replace the above to show a success message within this page, e.g.
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                });
            }


        }).render('#paypal-button-container');
    </script>
</form>
           
       </div>
   </div>
</body>
<script type="text/javascript">
if(localStorage.getItem('cart')==null){
    var cart = {};
    }
    

else{
    cart = JSON.parse(localStorage.getItem('cart'));
    }
let total = 0;
for(item in cart){
let name = cart[item][1];
let quantity = cart[item][0];
let price = cart[item][2];
total = total + cart[item][2];

itemString = `  <li class="list-group-item d-flex justify-content-between align-items-center">${name} of ${quantity}<span class="badge badge-warning badge-pill">${price}</span></li>`;


$('#item_list').append(itemString);
}
totalPrice = ` <li class ="list-group-item d-flex justify-content-between align-items-center"><b> Your total </b>
${total}</li> `
$('#item_list').append(totalPrice);
$('#items').val(JSON.stringify(cart));


   </script>
</html>